.myBooble {
    fill: rgba(255, 255, 255, 0.05);
    transition-delay: 0ms;
    transition-duration: 7500ms;
    transition-timing-function: ease-in-out;
}

#myGradient0 {
    /* stroke-width: 1px;
    stroke: hsl(0, 0%, 7%); */
    -webkit-animation:spin 26s linear infinite;
    -moz-animation:spin 26s linear infinite;
    animation:spin 26s linear infinite;
    /* animation-direction: reverse; */
    transform-origin: 0vw 0vh;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#myGradient1 {
    /* stroke-width: 1px;
    stroke: hsl(0, 0%, 7%); */
    -webkit-animation:spin 24s linear infinite;
    -moz-animation:spin 24s linear infinite;
    animation:spin2 24s linear infinite;
    transform-origin: 100vw 100vh;
}

@-moz-keyframes spin2 { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }